<!--Static files to load form Django -->
{% load staticfiles %}
<html>
<head>
<title>Dashboard - Enroll</title>

<!--custom css to override bootstrap -->
<style type="text/css">
.container {
    padding-top: 10px;
    position: inherit;
}

body { background: #f8f8f8 !important; }
body { padding-top: 0px !important; }

.row{
padding: 2px;
padding-left: 15px;
padding-right:  15px;
display: inline;
}

.panel-heading{
background: grey !important;;
}

#navbar{
background-color: grey !important;
}

.loader1 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{%static '/images/loading.gif' %}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}








</style>

<!--Bootstrap contents to load -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static '/bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static '/bootstrap/css/sb-admin-2.css' %}" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
 
</head>

<!--Jquery and chartjs libraries to load -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="{% static '/bootstrap/js/jquery.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>




<body>
<script>

</script>


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" id="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				
                <a class="navbar-brand" id="menu-toggle" style="color:white" href="#menu-toggle">Machine Learning - Computer Vision Library</a>
				
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

        </nav>

        
        

    
	<center>
	<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
						{% csrf_token %}
                    <fieldset>
                        <legend class="text-center header">Enroll Here</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="uname" name="uname" type="text" placeholder="Unique User Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-group bigicon"></i></span>
                            <div class="col-md-8">
                                <select id="gallery" name="gallery" type="text" class="form-control">
								<option>Personal</option>
								<option>Others</option>
								</select>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="image" name="image" type="text" Placeholder="Image Path" class="form-control">
                            </div>
                        </div>

                     

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" id="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
	
	
	
	 <div class="row" id="output"><!--Bootstrap grid layout to plot graph panel-->
                    
			 		
					<!-- Dynamically generating the canvas and div elements -->
					
				
     </div>
	
	 <div id="editor"></div>
	 
	 

	</center>	
	<div class="loader1"></div>
	
</body>

<!--Javascript code-->
<script>


	
	
//function to load gif during page load
$(window).load(function() {
    $(".loader1").fadeOut("slow");
});


//For getting CSRF token
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}




//For doing AJAX post
 $("#submit").click(function(e) {

    e.preventDefault();

    var csrftoken = getCookie('csrftoken');

    var uname = $('#uname').val();
	
	var gallery = $('#gallery').val();
	var image = $('#image').val();
	

	
//Ajax post.details of where_to_post,what_to_post
 $.ajax({
 url : window.location.href, // the endpoint,same url
 type : "POST", // http method
 data : { csrfmiddlewaretoken : csrftoken, 
 uname : uname,
 gallery : gallery,
 image : image,
 }, // data sent with the post request

 
        // handle a successful response
        success : function(json) {
             
			
			console.log(json['uname']);
			console.log(json['result']);
			if (json['result'] == 'success') {
			$('#msg1').html("<div class='alert alert-success'>Successfully Enrolled</div>");
			}
			else{
			$('#msg1').html("<div class='alert alert-error'>Error in Enrolling,Please try again</div>");
			}
		
		
        },
		
	
		
		//end of chartjs 
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); 
			
        }
    });
	
});
$(document).ready(function () {
    $(document).ajaxStart(function () {
        $(".loader1").show();
    }).ajaxStop(function () {
        $(".loader1").hide();
    });
});


</script>

</html>
